.projectHeading {
    font-family: "Bebas Neue", sans-serif;
    font-size: 45px;
    margin: 20px 0 20px 0;
    color: #865DFF;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}

.projects {
    width: 100%;
    min-height: calc(99vh - 45px);
    animation: 1.5s fadeInUp;
}
@keyframes fadeInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
.ekycproject {
    display: flex;
    gap: 60px;
    width: 100%;
    margin-bottom: 50px;
}

.ekyc {
    height: 400px;
    width: 100%;
    background: #150050;
    border: 1px solid #150050;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ekycprojlink {
    display: flex;
    justify-content: center;
    color: #50C4ED;
    margin-top: 10px;
}

.ekydesc {
    text-align: left;
    color: #FFE6E6;
    font-size: 17px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.yearekyc {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.projectlinkimg {
    height: 20px;
    width: 20px;
    background: #50C4ED;
    border-radius: 50%;
}

.DescPoints {
    margin-top: 5px;
    columns: 2;
}

.ekyc1 {
    height: 400px;
    width: 85%;
    background: #150050;
    border: 1px solid #150050;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ekyc2 {
    height: 400px;
    width: 95%;
    background: #150050;
    border: 1px solid #150050;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.projectName {
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    color: #50C4ED;
    font-weight: 400;
    text-decoration: underline;
}

.projectInfodata {
    margin: 10px
}

.desc {
    margin: 20px;
}

@media only screen and (max-width: 767px) {
    .projectHeading {
        font-size: 35px;
    }

    .ekycproject {
        flex-direction: column;
    }

    .ekyc1 {
        max-width: 85%;
        height: 350px;
        width: 450px;
        margin: 0 auto;
    }

    .ekyc {
        max-width: 85%;
        height: 350px;
        width: 450px;
        margin: 0 auto;
    }

    .ekyc2 {
        max-width: 85%;
        height: 350px;
        width: 450px;
        margin: 0 auto;
    }

    .ekydesc {
        text-align: center;
        font-size: 17px;
        font-weight: 400;
        margin: 0;
        padding: 0;
    }
    .DescPoints li{
        list-style: none;
    }
    .ekycsqaure img{
        height:300px;
        width :400px
    }
}

@media only screen and (max-width: 575px) { 
    .ekycsqaure img{
        height:270px;
        width :250px
    }
    .ekydesc {
        text-align: center;
        font-size: 15px;
        font-weight: 400;
        margin: 0;
        padding: 0;
    }
}

@media only screen and (max-width: 375px) {
    .ekycsqaure img{
        height:290px;
        width :200px
    }
}